* {
    margin: 0;
}

.contenedorSeccion {
    display: grid;
    grid-template-columns: 100%;
    background-color: #DDD7DD;
}


/***********************************Menu**************************/

.menu {
    display: grid;
    position: fixed;
    width: 100%;
    height: 98px;
    position: static;
    align-items: center;
    grid-row: auto;
}

.menu li {
    list-style: none;
    border-right: solid 2px white;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 0;
    border-bottom: 0;
}

.menu ul {
    display: flex;
    margin-bottom: 13px;
    justify-content: center;
}

.input-buscador {
    display: flex;
    position: absolute;
    width: 150px;
    height: 30px;
    border-radius: 30px;
}


/***********************************Colores de background**************************/

.bg-violeta5 {
    background-color: rgba(55, 0, 55, 1);
}

.bg-violeta4 {
    background-color: rgba(83, 14, 83, 1);
}

.bg-violeta3 {
    background-color: rgba(111, 37, 111, 1);
}

.bg-violeta2 {
    background-color: rgba(138, 69, 138, 1);
}

.bg-violeta1 {
    background-color: rgba(166, 111, 166, 1);
}

.bg-negro {
    background-color: rgba(0, 0, 0, 1);
}

.bg-gris-oscura {
    background-color: rgba(35, 32, 35, 1);
}

.bg-gris-claro {
    background-color: rgba(199, 195, 199, 1);
}

.bg-ligth2 {
    background-color: rgba(221, 215, 221, 1);
}

.bg-ligth1 {
    background-color: rgba(239, 229, 239, 1);
}

.bg-blanco {
    background-color: rgba(255, 255, 255, 1);
}

.bg-azul {
    background-color: rgba(10, 139, 180, 1);
}

.bg-celeste {
    background-color: rgba(50, 217, 217, 1);
}


/***********************************Colores de letras**************************/

.color-blanco {
    color: rgba(255, 255, 255, 1);
}


/***********************************Estilos de letras**************************/

.letra-verdana1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}


/***********************************HOME**************************/

.contenedorJuegosCarrusel {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr repeat(5, 4fr) 1fr;
    grid-template-rows: 234px;
    gap: 0.5%;
    align-items: center;
    justify-items: center;
}

.flecha1 {
    justify-items: center;
}


/*2.5% 18.4% 18.4% 18.4% 18.4% 18.4% 2.5%*/

.juegos1 {
    width: 225px;
    height: 214px;
    margin: 10px;
    background-color: black;
}

.imgJuego {
    width: 225px;
    height: 214px;
}


/***********************************Categorias**************************/

.contenedorCategorias {
    margin: 30px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    gap: 0.5%;
    align-items: center;
    justify-items: center;
}


/**/

.categoria {}

.imgCat {
    padding: 30px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}