* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

body {
    background-color: rgba(221, 215, 221, 1);
}

.contenedorSeccion {
    display: grid;
    grid-template-columns: 100%;
    background-color: #DDD7DD;
}


/***********************************Menu**************************/

.menu {
    display: grid;
    width: 100%;
    height: 98px;
    position: static;
    align-items: center;
}

.menu li {
    list-style: none;
    border-right: solid 2px white;
    padding: 10px;
    margin-top: auto;
    margin: auto;
}

.opcionesMenu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: 15%;
}

.menu ul {
    display: flex;
    grid-template-columns: 2fr 11fr 1fr 1fr;
    align-items: center;
}

.input-buscador {
    display: flex;
    width: 150px;
    height: 30px;
    border-radius: 30px;
}

.buscador {
    margin-left: 25%;
}

.iconUser {
    display: flex;
    color: white;
    font-size: 30px;
}

.iconos {
    margin-left: 2%;
}


/***********************************Colores de background**************************/

.bg-violeta5 {
    background-color: rgba(55, 0, 55, 1);
}

.bg-violeta4 {
    background-color: rgba(83, 14, 83, 1);
}

.bg-violeta3 {
    background-color: rgba(111, 37, 111, 1);
}

.bg-violeta2 {
    background-color: rgba(138, 69, 138, 1);
}

.bg-violeta1 {
    background-color: rgba(166, 111, 166, 1);
}

.bg-negro {
    background-color: rgba(0, 0, 0, 1);
}

.bg-gris-oscuro {
    background-color: rgba(35, 32, 35, 1);
}

.bg-gris-claro {
    background-color: rgba(199, 195, 199, 1);
}

.bg-ligth2 {
    background-color: rgba(221, 215, 221, 1);
}

.bg-ligth1 {
    background-color: rgba(239, 229, 239, 1);
}

.bg-blanco {
    background-color: rgba(255, 255, 255, 1);
}

.bg-azul {
    background-color: rgba(10, 139, 180, 1);
}

.bg-celeste {
    background-color: rgba(50, 217, 217, 1);
}


/***********************************Colores de letras**************************/

.color-blanco {
    color: rgba(255, 255, 255, 1);
}

.color-light {
    color: rgba(239, 229, 239, 1);
}


/***********************************Estilos de letras**************************/

.letra-verdana1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

h2 {
    font-size: 24px;
}


/***********************************HOME**************************/

.juegoPrincipal {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

.tituloCat {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(83, 14, 83, 1);
    margin: 0px 45px 0px 45px;
}


/* .tituloCat::after{
    content: '';
    height: 13px;
    width: 100%;
    background-color: rgb(251 242 175);
    display: block;
    border-radius: 50px;
} */


/***********************************Carrusel**************************/

.contenedorJuegosCarrusel {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr repeat(5, 4fr) 1fr;
    grid-template-rows: 234px;
    gap: 0.5%;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
}

.flecha1 {
    justify-items: center;
}


/*2.5% 18.4% 18.4% 18.4% 18.4% 18.4% 2.5%*/

.juegos1 {
    width: 225px;
    height: 214px;
    margin: 10px;
    background-color: black;
    border-radius: 20px;
}

.imgJuego {
    width: 225px;
    height: 214px;
    border-radius: 20px;
}


/***********************************Categorias**************************/

.contenedorCategorias {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    align-items: center;
    justify-items: center;
}


/**/

.categoria {
    display: grid;
    justify-items: center;
}

.imgCat {
    margin-bottom: 15px;
    padding: 30px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}


/***********************************Juegos grandes**************************/

.contenedorJuegosGrandes {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 234px;
    gap: 15px;
    align-items: center;
    justify-items: center;
}

.juegos2 {
    width: 265px;
    height: 230px;
    margin: 10px;
    border-radius: 20px;
    background-color: black;
}

.imgJuego2 {
    width: 265px;
    height: 230px;
    border-radius: 20px;
}


/***********************************Footer***********************************/

footer {
    display: flex;
    width: 100%;
    height: 200px;
    grid-template-columns: 2fr;
    align-items: center;
    justify-content: space-between;
}

.logoFooter {
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

.enlacesFooter {
    display: flex;
}

footer li {
    font-size: 12px;
    list-style: none;
}

footer a {
    font-weight: bold;
}

.redesSociales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.icono {
    font-size: 30px;
}


/***********************************Seccion Categorias***********************************/

.seccion {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.headerSeccion {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
}

.grillaSeccionCategorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-rows: 282px;
    margin: 30px;
}

.juegoCategoria {
    height: 282px;
    border-radius: 30px;
    box-shadow: 1px 6px 4px rgba(59, 59, 59, 0.692);
}

.divImgJuegoCategoria {
    width: 100%;
    height: 222px;
    border-radius: 30px;
}

.imgJuegoCategoria {
    width: 100%;
    height: 212px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.tituloJuegoCategoria {
    color: white;
    padding-left: 15px;
}

.subMenuCategorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-rows: 50px;
    margin: 30px;
}

.categoria-sm {
    display: flex;
    border-radius: 30px;
    box-shadow: 1px 3px 3px rgba(59, 59, 59, 0.692);
    align-items: center;
    padding-left: 10px;
}

.img-categoria-sm {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.svg-categoria-sm {
    width: 30px;
    height: 30px;
}

.titulo-categoria-sm {
    align-items: center;
}